* {
    box-sizing: border-box;
}

/*styling the main page*/
body {
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* font used*/
    background-color: #000000; /*page background color*/ 
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* styling the header and fixing position*/
h1 {
    text-align: center;
    color: #ffffff;
    margin: 20px; /*adding margin to header*/
    font-size: 28px;
}

/* styling the quiz layout*/
.q-t {
    background-color: #3b3b3b;
    width: 80%;
    max-width: 600px; /*maximum width allowed*/
    padding: 20px;
    border-radius: 10px;
}

/*styling text in questions*/
.question {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
}

/* fixing margin*/
.quiz {
    margin-bottom: 30px;
}

.question {
    font-size: 18px;
    margin-bottom: 10px;
    color: #525151;
}

/*styling the choices in the quiz questions*/
.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.options label {
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #5a5a5a;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.4s ease; /*adding a transition to make it responsive*/
}

.options label:hover {
    background-color: #2e2e2e;
}

/*styling the submit button*/
.submit {
    padding: 15px;
    font-size: 16px;
    width: 100%;
    background-color: #319cce; /*button color*/
    color: white;
    transition: background-color 0.4s ease; /*adding transition for hover effect*/
    border: none;
    border-radius: 7px;
}

/*adding hover effects*/
.submit:hover {
    background-color: #2b3db0;
}